.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.child {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

/* header strip */
.child-header {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  color: #444;
  border-bottom: 2px solid #1976d2; /* blue */
  background: #f9fafb;
}

/* normal content */
.child-content {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}
